img{
  width: 100px;
  height: auto;
  margin-top: auto;
  border-radius: 50%;
}

.container{
display: flex;
justify-content: center;
align-items: center;
padding: 40px;
text-align: center;
background-color: rgb(245, 242, 239);
width: 220px;
height: auto;
border-radius: 10px;
flex-direction: column;
}

.ft-button{
  background-color: rgb(21, 128, 199);
  color: rgb(255, 255, 255);
  width: 90px;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.ft-button:hover{
  background-color: rgb(255, 255, 255) ;
  color: rgb(32, 38, 39);
  transition:all 0.5s ease;
  transform: translateY(-5px);
  /* box-shadow: 1px 1px 1px black; */
  
}

.container:hover{
  background-color: rgb(202, 221, 233);
  transition:all 0.5s ease;
  box-shadow: 2px 2px 5px black;
  transform: translateY(-5px);
}

body{
  background-color: rgb(228, 220, 212);
 
}

.contain{
  padding: 40px;
text-align: center; 
background-color: rgb(245, 242, 239);
width: 220px;
height: auto;
border-radius: 10px;



}

.contain:hover{
  background-color: rgb(202, 221, 233);
  transition:all 0.5s ease;
  box-shadow: 2px 2px 5px black;
  transform: translateY(-5px);
}

.card-wrapper{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
gap: 10px;
}


 body {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 12px;
 
}