img{
  width: 100px;
  height: 100px;
  margin-top: auto;
  border-radius: 500px;
}

.container{
padding: 40px;
margin: auto;
text-align:center;
margin-top: 50px;
background-color: rgb(245, 242, 239);
width: 220px;
height: 220px;
border-radius: 10px;
margin-right:  auto;
margin-left: 350px;
 
}

.ft-button{
  background-color: rgb(21, 128, 199);
  color: rgb(255, 255, 255);
  width: 90px;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.ft-button:hover{
  background-color: rgb(255, 255, 255) ;
  color: rgb(32, 38, 39);
  transition: 0.5s;
}

.container:hover{
  background-color: rgb(202, 221, 233);
  transition: 0.5s;
  box-shadow: 2px 2px 5px black;
}

body{
  background-color: rgb(228, 220, 212);
 
}

.contain{
  padding: 40px;
margin-left:  auto;
text-align:center;
margin-top: auto;
background-color: rgb(245, 242, 239);
width: 220px;
height: 220px;
border-radius: 10px;
 margin-right: 350px ;

}

.contain:hover{
  background-color: rgb(202, 221, 233);
  transition: 0.5s;
  box-shadow: 2px 2px 5px black;
}

.card-wrapper{
display: flex;
gap: 30px;
justify-content: center;
text-align: center;
margin-top: 100px;
}


 body {
   
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 12px;
 
}