img{
  width: 100px;
  height: 100px;
  margin-top: auto;
  border-radius: 500px;
}

.container{
padding: 40px;
margin: auto;
text-align:center;
margin-top: 50px;
background-color: rgb(245, 242, 239);
width: 240px;
height: 250px;
box-shadow: 1px 1px 5px black;
border-radius: 10px;
margin-right: 300px;
}

.ft-button{
  background-color: rgb(21, 128, 199);
  color: rgb(255, 255, 255);
  width: 90px;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.ft-button:hover{
  background-color: rgb(255, 255, 255) ;
  color: rgb(32, 38, 39);
  transition: 0.5s;
}

.container:hover{
  background-color: rgb(202, 221, 233);
  transition: 0.5s;
}

body{
  background-color: rgb(204, 191, 175);
}

.contain{
  padding: 40px;
margin-left: 300px;
text-align:center;
margin-top: auto;
background-color: rgb(245, 242, 239);
width: 240px;
height: 250px;
box-shadow: 1px 1px 5px black;
border-radius: 10px;
}

.contain:hover{
  background-color: rgb(202, 221, 233);
  transition: 0.5s;
}


 
   

