h1{
     font-family: "Poppins", sans-serif;
     font-size: 16px;
     font-weight: 400;
     
     text-transform: lowercase; /* we also have uppercase and capitalize */

     text-decoration: underline; /* we also have overline and line-through */


}