/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

/* BODY */


/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

header img {
  width: 80px;
}

/* NAVIGATION */
nav a {
  margin-left: 30px;
  text-decoration: none;
  color: #f5e9dd;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffffff;
}

/* HERO SECTION */
section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
}

/* LEFT CONTENT */
section > div:first-child {
  max-width: 500px;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

p {
  font-size: 1rem;
  color: #f0e2d3;
  margin-bottom: 30px;
}

/* BUTTONS */
button {
  padding: 14px 28px;
  border-radius: 30px;
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  margin-right: 15px;
  transition: all 0.3s ease;
}

/* BUY HAZELNUTS */
button:first-child {
  background: #e6e6e6;
  color: #5b2a14;
}

button:first-child:hover {
  background: #ffffff;
}

/* BUY ALMONDS */
button:last-child {
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

button:last-child:hover {
  background: #ffffff;
  color: #5b2a14;
}

/* RIGHT IMAGE */
section img {
  width: 420px;
  max-width: 100%;
}


h4{
  color: chocolate;
}