*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



img{
  width: 200px;
  height: 200px;
  margin-top: 20px;
    border-radius: 50%;
    
}

.container{

    padding: 20px; 
    width: 300px;;
    background-color: lightgrey;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border-radius: 20%;
    border: 1px solid black;
    box-shadow: 1px 1px 8px red;
    
}

button{
  border: none;
margin: 20px 0px;
  
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20%;
     background-color: lightblue;
}

.container:hover{
    background-color: grey;
    color: white;
    transition: 0.5s;
    
}


