*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
  /* background: linear-gradient(to right, rgb(255, 169, 89), rgb(255, 98, 7)); */
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  /* margin: 50px; */
  background-color: rgba(255, 160, 72, 0.1);
  border-radius: 20px;
  margin-bottom: 100px;
}

body{ 
background: linear-gradient(to right, rgb(236, 190, 146), rgb(243, 166, 122));
/* background-color:  rgb(247, 242, 218); */
font-family:'jost', sans-serif;
color: white;
/* background: url(/5454dab79ec21fa2acacca1ea36c502f4512f13b.png); */
}

header ul{
  list-style: none;
  display: flex;
}

header img{
  width: 120px;
  /* margin-left: 35px; */
}

header ul li{
  margin-right: 20px;
  font-weight: 500;
}

header a{
 text-decoration: none;
 color: rgb(0, 0, 0);
}

header button{
width: 83px;
height: 36px;
gap: 48px;
background-color: transparent;
color: #000000;
font-weight: 300;
margin-right: 30px;
border-radius: 5px;
border:1px solid black;
}

 
#view-menu{
width: 83px;
height: 36px;
gap: 48px;
background-color:   #473525C7;
color: #FFFFFF;
font-weight: 300;
margin-left: 50px;
border-radius: 5px;
border: none;
}

.dis{
width: 83px;
height: 36px;
gap: 48px;
background-color: transparent;
color: #000000;
font-weight: 300;
margin-left: 50px;
border-radius: 5px;
border:1px solid black;
}

.hero{
  display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;
}
  
.hero p{
  margin: 24px 0;
  font-size: 14px;
  font-family: "jost", sans-serif;
  font-weight: 400;
  font-style: regular;
  color: #473525C7;
   margin-left: 50px;
}

.hero h1{
  font-size: 44px;
    font-family: "jost", sans-serif;
     font-weight: 500;
     font-style: bold;
    line-height: 100%;
    letter-spacing: 1%;
    color:  #473525C7;
    margin-left: 50px;
}

.hero img{
  width: 350px;
  min-height:auto;
  object-fit: contain;
}
.about h2{
font-size: 44px;
    font-family: "jost", sans-serif;
     font-weight: 500;
     font-style: bold;
    line-height: 100%;
    letter-spacing: 1%;
    color:  #473525C7;
    margin-left: 50px;
}
.about p{
  margin: 24px 0;
  font-size: 14px;
  font-family: "jost", sans-serif;
  font-weight: 400;
  font-style: regular;
  color: #473525C7;
   margin-left: 50px;
}
.about{
   display: grid;
  grid-template-columns: 2fr 2fr;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    margin-top: 50px;
}
.card-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card {
  background: linear-gradient(white, rgb(255, 136, 0));
  width: 220px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin-top: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 150px;        
  object-fit: contain;  
}
.grape{
 margin-top: 30px;
 background: linear-gradient(white, rgb(255, 136, 0));
  width: 220px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-fruits{
 display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 32px;
}
.items{
  width: 250px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(245, 242, 242, 0.1);
  text-align: left;
   background: linear-gradient( rgba(255, 243, 200, 0.62) 0.41%, #FFA51E 99.48%);
   margin-left: 100px;
}
 

.Explore img{
  width: 220px;
  height: auto;
}
.Explore h2{
  color: #473525C7; 
   font-size: 44px;
   font-weight: 500;
   font-style: bold;
   letter-spacing: 1%;
   margin-left: 90px;
   line-height: 100%;
    
}
.Explore{
  margin-top: 50px;
  color: #473525C7;
  
}
span{
  color: red;
}
.Explore p{
  margin-top: 15px;
}
.left{
  margin-left: 1200px;
  color: rgb(88, 27, 27);
}
.submit{
  width: 90px;
  height: 35px;
  border-radius: 10px;
  font-family: jost;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
background-color:  #FFA500;
border: none;
margin-top: 40px;
}
.end{
  color:#473525C7;
  display: flex;
 
  justify-content: space-between;
  margin-top: 50px;
}
 
.end2 ul{
list-style-type: none;
 
}
.end ul li{
  content:"- ";
  color: #000000;
}
.about1{
  margin-right: 100px;
    color: #000000;
     
    font-size: 15px;
}
.last{
  margin-left: 100px;
}